<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<meta charset="UTF-8">
<title>Title Null</title>
<script src="https://kit.fontawesome.com/5e28c1ddda.js" crossorigin="anonymous"></script>
<style>
  .error_page {
    width: 70%;
    height: 50vh;
    margin:10vh auto;

    padding-top: 10vh;
    border-radius: 12px;
    background-color: #e80202;
    color: white;
    font-style: italic;
    text-align: center;

  }
  .error_text {
    font-size: 45pt;
    font-family: "Times New Roman";

  }
</style>
</head>
<body>

<div class="error_page" >
  <h1 class="error_text" >
    Mahsulot haqidagi zarur malumotlar to'liq emas!
  </h1>
</div>
</body>
</html>